@import url('./reset.scss');
@import url('./fonts.scss');
@import url('./variables.scss');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.button {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5em;
  padding: 1em 1.5em;
  background-color: var(--color-bg-light);
  color: var(--color-primary);
  border: solid 2px var(--color-bg-lighter);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  &:hover {
    background-color: var(--color-bg-lighter);
  }
  &:disabled {
    background-color: var(--color-bg);
     border-color: var(--color-bg-light);
    pointer-events: none;
  }
  &:focus-visible {
    outline: solid 2px var(--color-primary);
    outline-offset: -2px;
    background-color: var(--color-bg-lighter);
  }
}
input[type='checkbox'] {
  display: none;

  &:checked + label {
    background-color: var(--color-bg-lighter);
  }
}