:root {
  --color-bg-dark: hsla(0, 0%, 5%, 100%);
  --color-bg: hsla(0, 0%, 15%, 100%);
  --color-bg-light: hsla(0, 0%, 20%, 100%);
  --color-bg-lighter: hsla(0, 0%, 30%, 100%);
  --color-primary: hsla(0, 0%, 100%, 100%);
}

