@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  src: url('./fonts/Poppins-Thin.woff2');
}

*,
*::before,
*::after {
  border: 0;
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  line-height: 1em;
  height: 100vh;
  text-rendering: optimizeSpeed;
  text-align: center;
  background-color: var(--color-bg);
  color: var(--color-primary);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --color-bg-dark: hsla(0, 0%, 5%, 100%);
  --color-bg: hsla(0, 0%, 15%, 100%);
  --color-bg-light: hsla(0, 0%, 20%, 100%);
  --color-bg-lighter: hsla(0, 0%, 30%, 100%);
  --color-primary: hsla(0, 0%, 100%, 100%);
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-lighter);
}
